.property-card-container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  border: 1px solid #0D6EFD;
  border-radius: 1rem;
  padding: 1rem;
  img {
    height: 80px;
    width: auto;
  }
  h3 {
    font-size: medium;
  }
  h4 {
    font-size: small;
  }
  h5 {
    font-size: x-small;
  }
  button {
    width: 100%;
  }
}

.custom-date-container {
  padding: 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 1rem;
}
